<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- end custom footer snippets -->

<!--
{% assign posts=site.pages | where:"lang", page.lang %}
<ul>
{% for post in posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

-->

<!--
{% assign posts=site.pages | where:"lang", page.lang %}
<ul>
{% for post in posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <a href="{{ post.url }}">{{ post.lang }}</a>
    </li>
{% endfor %}
</ul>

-->

<!--
<ul>
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
      </li>
    {% endfor %}
</ul>

-->
<!--
{% if page.layout != 'index' %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
    <footer class="lang-options">
        <em>Read this page in a different language:</em>
        <ul>
        {% for post in posts %}
        <li><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">{{ post.lang }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
{% endif %}

-->
<!--
{% assign posts=site.pages | where:"lang", page.lang %}
<ul>
{% for post in posts %}
<li><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">{{ post.lang }}</a></li>
{% endfor %}
</ul>

-->
<!--
<ul>
    
    <li><a href="{{page.permalink}}" class="{{ page.lang }}" title="View in {{page.lang}}">{{page.lang}} {{ site.locale }} {{page.title}}</a></li>
    <li><a href="/pt{{page.permalink}}" class="{{ page.lang }}" title="View in {{page.lang}}">{{page.lang}} {{ site.locale }} {{page.title}}</a></li>
    
</ul>
-->

<ul>
    <!--
    {{ page.permalink | jsonify }}
    {{ "Liquid" | slice: 2, 5 }}
    {% assign a =  {page.permalink}  %}
    {{ a | jsonify }}
    {{ page.url | jsonify }}
    {{ page.url | slice: 0, 4 }}
    {% assign a =  page.url | slice: 0, 4 %}

    {{ a | jsonify }}

    {{ a | jsonify }}

    {% assign b =  {page.url | split: "/"}  %}
    {{ b[1] | jsonify }}
    -->

    {% assign a =  page.url | slice: 0, 4 %}
    {% if a != "/en/" %}

    <strong >Read this page in another language: </strong> <a href="{{page.permalink}}" class="{{ page.lang }}">🇧🇷</a> <a href="/en{{page.permalink}}" class="{{ page.lang }}">🇺🇸</a> 

    {% else %}

        {% assign c =  {page.url | split: "/"}  %}
        <strong>Read this page in another language: </strong> <a href="/{{c[2]}}" class="{{ page.lang }}">🇧🇷</a><a href="{{page.url}}" class="{{ page.lang }}">🇺🇸🇧🇷</a>
        
    {% endif %}

    <!--
    {% for lang in site.languages %}
        {{ lang | jsonify }}
        {{ site.default_lang | jsonify }}
    {% endfor %}

    {% assign active_lang = "pt" %}
    {{ active_lang | jsonify }}
    -->

        <!--
        {% assign $active_lang = "en"  %}
        {{ $active_lang | jsonify }} -->

            <!--
        {% assign site.active_lang = "pt"  %}
        {{ active_lang | jsonify }}
    -->